*{
	margin: 0;
	padding: 0;
}
body{
	background: url('../images/background5.png') fixed;	
/*	background-image: url('../images/background1.jpg');
	background-repeat: repeat;
	background-attachment: fixed;*/
	background-size: 100%;
}
.head{
	width: 100%;
	height: 140px;
	/*border: 5px solid purple;*/
	text-align: center;
	top: 30px;
	font: 76px cursive;
	font-weight: 666;
	color: black;
	position: relative;
}
.body{
	position: absolute;
	width: 100%;
	height: 420px;
}
.question{
	position: relative;
	width: 50%;
	height: 120px;
	left: 25%;
	font: 24px monospace;
	font-weight: 666;
	color: purple;
	text-align: left;
	line-height: 50px;
	background-color: #CFFDF7;
	border: 4px solid #7D8FA9;
	border-radius: 32px;
}
.answer{
	position: relative;
	width: 35%;
	height: 38px;
	left: 32.5%;
	border: 3px solid #BCFECE;
	font-size: 20px;
	color: blue;
	line-height: 36px;
	text-align: left;
	cursor: pointer;
	border-radius: 28px;
}
br{
	left: 10px;
}
.answer:hover{
	background-color: #DBF0A5;
}
#A{
	top: 20px;
}
#B{
	top: 30px;
}
#C{
	top: 40px;
}
#D{
	top: 50px;
}
.button{
	position: relative;
	width: 60px;
	height: 28px;
	top: 55px;
	left: 70%;
	font-size: 16px;
	cursor: pointer;
}
.button:hover{
	background-color: #C1D2E3;
}
